.checked {
    color: orange;
}

h1,h2{
	font-weight:600 !important;
	font-family:"Trebuchet MS", Helvetica, sans-serif !important;
}

body{
	background-color:#f0f0f5;
}

table{
	border: none !important;
}

td{
	vertical-align:middle !important;
	min-width:50px;
	max-width:250px;
	line-height:1.5;
}

.page{
	min-width:1300px;
	max-width: 1650px;
	margin:auto;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
}

.topbar{
	height:85px;
	width:100%;
	background-color:#2c7bd6;
	padding:10px 20px;
	display: flex;
	align-items: center;
}

.searchbar{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
}

.searchbutton{
	height:40px;
	width:40px;
}

.ajoutfilmbutton{
	height:40px;
	width:140px;
}

.movie-modal{
	display:flex;
}

#searchMovie{
	height:40px;
	width:400px;
	padding:7px;
}

.modal-cont {
  white-space:nowrap;
  padding:40px !important;
  padding-right:70px !important;
  min-width:500px !important;
  max-width:80% !important;
  width:auto  !important;
}

.modal-left {
  flex: 0 0 200px;
}

img {
  border-radius:2%;
}

.text-hover:hover{
	cursor:pointer;
	color: blue;
}

.modal-right {
  flex: 1;
  font-size: 20px;
}